:root {
  --primary: #1fc76a;
  --primary-hover: #1AA658;
  --sell: #F77B95;
  --sell-light: #592739;
  --buy: #20BCA4;
  --buy-light: #0E4C48;
}

@media screen {

  .container-max-width {
    max-width: 1140px;
    margin: auto;
    padding: 15px;
  }

  .header {
    color: var(--primary);
  }

  .selectpicker {
    background-color: white;
    border: 1px solid var(--primary);
  }

  .main-dashboard {
    border: 1px solid var(--primary);
    border-radius: 8px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
  }

  .buyTokenButton {
    color: white;
    background-color: var(--buy)
  }
  .buyTokenButton:hover {
    color: white;
    background-color: var(--buy-light)
  }
  .buyTokenButton:focus {
    color: white;
    background-color: var(--buy-light)
  }

  .sellTokenButton {
    color: white;
    background-color: var(--sell)
  }
  .sellTokenButton:hover {
    color: white;
    background-color: var(--sell-light)
  }
  .sellTokenButton:focus {
    color: white;
    background-color: var(--sell-light)
  }

  .buy-order-row {
    color: var(--buy);
    background-color: var(--buy-light);
  }

  .sell-order-row {
    color: var(--sell);
    background-color: var(--sell-light);
  }

  .btn-primary {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
  }
  .btn-primary:hover {
    color: white;
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
  }
  .btn-primary:focus {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
  }

}

/* lg (laptop) */
@media screen and (max-width: 1140px) {
  .show-only-on-small {
    display: none;
  }
  .show-only-on-large {
    display: inline-block;
  }

  .job-listing-card-company-avatar {
    width: 70%;
  }

  .right-when-large-left-when-small {
    text-align: right;
  }
}

/* md (small laptop) */
@media screen and (max-width: 960px) {
  .show-only-on-small {
    display: none;
  }
  .show-only-on-large {
    display: inline-block;
  }

  .right-when-large-left-when-small {
    text-align: right;
  }
}

/* sm (tablets) */
@media screen and (max-width: 768px) {
  .show-only-on-small {
    display: inline-block;
  }
  .show-only-on-large {
    display: none;
  }

  .right-when-large-left-when-small {
    text-align: left;
  }
}

/* xs (phone) */
@media screen and (max-width: 576px) {
  .show-only-on-small {
    display: inline-block;
  }
  .show-only-on-large {
    display: none;
  }

  .right-when-large-left-when-small {
    text-align: left;
  }
}