<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">

    <!-- Web3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.0/web3.min.js" integrity="sha512-ppuvbiAokEJLjOUQ24YmpP7tTaLRgzliuldPRZ01ul6MhRC+B8LzcVkXmUsDee7ne9chUfApa9/pWrIZ3rwTFQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.0/web3.js" integrity="sha512-ZsluhyiKawri29YBgjj1mSDXfOq1HVQ34pJkVEdnYmZJD+kEBZ0AjM4v8kGMk6lis3wjZAUUKP0o0QLHy4PmZA==" crossorigin="anonymous"></script>
    <script>
      const web3 = new Web3("<%= web3_http %>");
    </script>

    <!-- Freshchat -->
    <script>
      function initFreshChat() {
        window.fcWidget.init({
          token: "e8a12396-c1d0-48d4-b491-3913cb9a4208",
          host: "https://wchat.freshchat.com"
        });
      }
      function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
    </script>

    <title>aDEX</title>
  </head>

  <body>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Bootstrap-select library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <div class="container-max-width">

      <div class="container mb-4">
        <div class="row">
          <div class="col-6">
            <img src="./images/logo.png" style="width: 40%; min-width: 150px; max-width: 200px;">
          </div>
        </div>
      </div>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="exchange-tab" data-toggle="tab" href="#exchange" role="tab" aria-controls="exchange" aria-selected="true">Exchange</a>
          <a class="nav-item nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
        </div>
      </nav>

      <div class="tab-content d-flex" id="myTabContent" style="flex: 1 1 0">
        <div id="exchange" class="tab-pane fade show active pt-3 w-100">

          <select id="selectpicker-token" class="selectpicker show-tick mb-4" title="Choose one of the following..." data-live-search="true" data-size="5" data-style="selectpicker">
          </select>

          <div class="container main-dashboard">
            hello<br>
          </div>
        </div>
        <div id="settings" class="tab-pane fade show pt-3 w-100">
          <div class="container mb-4">
            <div class="header mb-3">
              <h2>Metamask</h2>
            </div>

            <div class="mb-4">
              <h4>Connect to Metamask</h4>
              <p><span style="font-weight: bold;">Account: </span><span class="showAccount">-</span></p>
              <button class="enableEthereumButton btn btn-sm btn-primary">Connect</button>
            </div>
          </div>
          <hr>

          <div class="container mb-4">
            <div class="header mb-3">
              <h2>Ether Balance</h2>
            </div>

            <div class="mb-4">
              <p><span style="font-weight: bold;">Balance: </span> <span id="etherBalance"></span></p>
            </div>

            <div class="mb-4">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="etherAmountToDeposit">Amount to deposit</label>
                    <div class="input-group input-group-sm">
                      <input type="number" class="form-control form-control-sm" id="etherAmountToDeposit" placeholder="Min. 0.0001" min="0.0001" step="0.0001">
                      <div class="input-group-append">
                        <span class="input-group-text">ETH</span>
                      </div>
                    </div>
                  </div>
                  <button class="depositEtherButton btn btn-sm btn-primary">Deposit</button>
                  <br>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="etherAmountToWithdraw">Amount to withdraw</label>
                    <div class="input-group input-group-sm">
                      <input type="number" class="form-control form-control-sm" id="etherAmountToWithdraw" placeholder="Min. 0.0001" min="0.0001" step="0.0001">
                      <div class="input-group-append">
                        <span class="input-group-text">ETH</span>
                      </div>
                    </div>
                  </div>        
                  <button class="btn btn-sm btn-primary" id="withdrawEtherButton" onclick="withdrawEther()">Withdraw</button>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="container mb-4">
            <div class="header mb-3">
              <h2>Other ERC20 Tokens</h2>
            </div>

            <div class="mb-2">
              <label for="tokenSymbol">Token symbol</label>
              <div class="row">
                <div class="col-6">
                  <input type="text" class="form-control form-control-sm" id="tokenSymbol" placeholder="Enter token symbol">
                  <hr>
                </div>
                <div class="col-6">
                  <button class="btn btn-primary btn-sm" onclick="updateSymbol()">Update</button>
                </div>
              </div>
            </div>

            <div class="mb-4">
              <p><span style="font-weight: bold;">Balance:</span> <span id="tokenBalance">-</span></p>
            </div>

            <div class="mb-4">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="tokenAmountToDeposit">Amount to deposit</label>
                    <div class="input-group input-group-sm">
                      <input type="number" class="form-control" id="tokenAmountToDeposit" placeholder="Min. 0.0001" min="0.0001" step="0.0001">
                      <div class="input-group-append">
                        <span class="input-group-text token-input-group-text">&nbsp;</span>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-sm btn-primary" onclick="depositToken()">Deposit</button>
                  <br>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="tokenAmountToWithdraw">Amount to withdraw</label>
                    <div class="input-group input-group-sm">
                      <input type="number" class="form-control" id="tokenAmountToWithdraw" placeholder="Min. 0.0001" min="0.0001" step="0.0001">
                      <div class="input-group-append">
                        <span class="input-group-text token-input-group-text">&nbsp;</span>
                      </div>
                    </div>
                  </div>        
                  <button class="btn btn-sm btn-primary" onclick="withdrawToken()">Withdraw</button>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  // Get all tokens before page load + update selectpicker
  var tokens;
  $(document).ready(async function() {
    var response = await fetch(`exchange/getAllTokens`, {
      method: 'GET',
      credentials: 'same-origin'
    });
    response = await response.json();
    tokens = response.tokens;

    // update selectpicker
    var options = document.getElementById("selectpicker-token").options;
    for (var i=0; i<tokens.length; i++) {
      var option = document.createElement("option");
      option.value = tokens[i].symbolName;
      option.text = tokens[i].symbolName;
      options.add(option);
    }
    $('#selectpicker-token').selectpicker('refresh');
  });

  $(document).ready(async function() {
    await updateEtherBalance();
  });

  const ethereumButton = document.querySelector('.enableEthereumButton');
  const showAccount = document.querySelector('.showAccount');

  ethereumButton.addEventListener('click', async () => {
    showAccount.innerHTML = await getAccount();
  });

  async function getAccount() {
    const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
    return accounts[0];
  }

  async function getEtherBalanceInWei() {
    response = await fetch(`exchange/getEtherBalanceInWei?addr=${await getAccount()}`, {
      method: 'GET',
      credentials: 'same-origin'
    });
    
    res = await response.json();
    var etherBalanceInWei = res.etherBalanceInWei;

    return etherBalanceInWei;
  }

  async function updateEtherBalance() {
    var etherBalanceInWei = await getEtherBalanceInWei();
    document.getElementById("etherBalance").innerHTML = web3.utils.fromWei(etherBalanceInWei, 'ether');;
  }

  const depositEtherButton = document.querySelector('.depositEtherButton');
  depositEtherButton.addEventListener('click', async () => {
    var amount = document.getElementById("etherAmountToDeposit").value;
    if (amount == "") {
      console.log("Empty value input for etherAmountToDeposit");
      return;
    }

    ethereum
    .request({
      method: 'eth_sendTransaction',
      params: [
        {
          from: await getAccount(),
          to: "<%= contract_address %>",
          value: web3.utils.toHex(web3.utils.toWei(amount)), // have to convert to hexdemical for big number
          data: web3.eth.abi.encodeFunctionCall(
            {
              name: "depositEther",
              type: "function",
              inputs: [],
            },
            []
          ),
          chainId: 3, // ropsten
        }
      ],
    })
    .then((txHash) => {
      console.log(txHash);
      updateEtherBalance();
    })
    .catch((error) => console.error);
  });

  async function withdrawEther() {
    var amountInEther = document.getElementById("etherAmountToWithdraw").value;
    if (amountInEther == "") {
      console.log("Empty value input for etherAmountToWithdraw");
      return;
    }

    var amountInWei = Web3.utils.toWei(amountInEther, 'ether');

    await fetch(`exchange/withdrawEther?addr=${await getAccount()}&amountInWei=${amountInWei}`, {
      method: 'POST',
      credentials: 'same-origin'
    });
    
    updateEtherBalance();
  }

  async function getTokenBalance() {
    var symbolName = document.getElementById("tokenSymbol").value;

    response = await fetch(`exchange/getBalanceForToken?symbolName=${symbolName}&addr=${await getAccount()}`, {
      method: 'GET',
      credentials: 'same-origin'
    });
    
    res = await response.json();
    var tokenBalance = res.balanceForToken;

    return tokenBalance;
  }

  async function updateTokenBalance() {
    var tokenBalance = await getTokenBalance();
    document.getElementById("tokenBalance").innerHTML = tokenBalance;
  }

  async function depositToken(){
    var symbolName = document.getElementById("tokenSymbol").value;
    var amount = document.getElementById("tokenAmountToDeposit").value;
    if (amount == "") {
      console.log("Empty value input for tokenAmountToDeposit");
      return;
    }

    await fetch(`exchange/depositToken?addr=${await getAccount()}&symbolName=${symbolName}&amount=${amount}`, {
      method: 'POST',
      credentials: 'same-origin'
    });

    updateTokenBalance();
  }

  async function updateSymbol() {
    await updateTokenBalance();

    var symbolName = document.getElementById("tokenSymbol").value;
    var texts = document.getElementsByClassName("token-input-group-text");
    for (var i=0; i<texts.length; i++) {
      texts[i].innerHTML = symbolName;
    }
  }

  async function withdrawToken(){
    var symbolName = document.getElementById("tokenSymbol").value;
    var amount = document.getElementById("tokenAmountToWithdraw").value;
    if (amount == "") {
      console.log("Empty value input for tokenAmountToWithdraw");
      return;
    }

    await fetch(`exchange/withdrawToken?addr=${await getAccount()}&symbolName=${symbolName}&amount=${amount}`, {
      method: 'POST',
      credentials: 'same-origin'
    });

    updateTokenBalance();
  }
</script>